<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>

<p-dataView #dv [value]="products()">
    <ng-template pTemplate="list" let-products>
        @for (product of products; track product) {
            <p-card class="block mb-2">
                <div class="flex">
                    <!-- Left side: Image -->
                    <div class="w-3 flex align-items-center justify-content-center">
                        <img [src]="'assets/products/' + product.image" [alt]="product.name" class="w-full shadow-2" />
                    </div>
                    
                    <!-- Right side: Details -->
                    <div class="w-9 pl-3">
                        <span class="text-sm text-secondary">{{ product.category }}</span>
                        <div class="text-xl font-bold mb-2">{{ product.name }}</div>
                        <p class="line-clamp-2 mb-2">{{ product.description }}</p>
                        
                        <!-- Price and Stock Status -->
                        <div class="flex justify-content-between align-items-center">
                            <span class="text-2xl font-semibold">{{ product.price | currency:'EUR' }}</span>
                            <p-tag [severity]="getInventoryStatus(product)">
                                {{ product.inventoryStatus }}
                            </p-tag>
                        </div>

                        <!-- Actions -->
                        <div class="flex gap-2 mt-3">
                            <p-button 
                                icon="pi pi-shopping-cart" 
                                label="Ajouter au panier"
                                [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
                                (onClick)="addToCart(product)" />
                            <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)"/>
                            <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
                        </div>
                    </div>
                </div>
            </p-card>
        }
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>